!!! 5
.info
  = haml :layer_errors, locals: { layer: layer }

  .pageheader
    %a(href='/layers/') Home
    &#8594;
    %a(href='/layers/#{ layer.name }/')= layer.name

  %form{name:   'input',
        action: "/layers/#{ layer.name }/",
        method: 'post'}

    .code
      %label
        Organization
        %input.layer{type: 'text',
                     name: 'organization',
                     value: layer.organization}
    .code
      %label
        Category
        %input.layer{type: 'text',
                     name: 'category',
                     value: layer.category}
    .code
      %label
        Description
        %textarea(name='description')= layer.description

    .code
      %label Data sources
      - unless layer.data_sources.nil? || layer.data_sources.empty?
        - layer.data_sources.each_with_index do |source, index|
          %input.layer{type:  'text',
                       name:  "data_sources[#{ index }]",
                       value: source}

      %input.layer(type='text' name='data_sources_x')

    .code
      %label(for='sample_url') Example URL
      %p Enter a URL that return an example data set to display in the viewer.
      %input#sample_url.layer{type: 'text',
                              name: 'sample_url',
                              value: layer.sample_url}

    %input(type='submit' value='Save')
