.code
  %a.layerheader(href="/layers/#{ layer.name }/")
    = layer.name
  - if current_user.update_layer?(layer)
    %span.editlinks
      %a(href="/layers/#{ layer.name }/data") Data
      |
      %a(href="/layers/#{ layer.name }/") Edit
      - if current_user.delete_layer?(layer)
        |
        %a(href='#' onclick="deleteLayer('#{ layer.name }');") Delete
  %table
    %tr
      %td Category:
      %td= layer.category
    %tr
      %td Description:
      %td= layer.description
    %tr
      %td Organization:
      %td= layer.organization
    %tr
      %td Maintainer:
      %td= layer.owner.email
    - unless layer.data_sources.empty?
      %tr
        %td Sources:
        %td= layer.data_sources.join('\n')
    - unless layer.sample_url.nil?
      %tr
        %td Example:
        %td
          - example_url = make_example_url(layer)
          %a{href: example_url, target: '_blank'}=example_url

