.info
  .pageheader
    %a(href='/layers/') Home
    &#8594;
    %a(href="/layers/#{ layer.name }/")= layer.name
    &#8594; Data

  .code
    %h2 Statistics
    = render_layer_stats(layer)

  .code
    = haml :file_upload, locals: { layer: layer }

  .code
    %h2 Periodic import
    %form(action="/layers/#{layer.name}/periodic" method='post')
      %div
        %label
          Maximum frequency
          = import_frequency_select(import.max_frequency)
      %div
        %label
          URL
          %input{type: 'text',
                 name: 'url',
                 value: import.url}
      %div
        %label
          Format
          = import_format_select(import.format)

      %div
        %label
          ID
          = import_texttype_select('id_type', import.id_type)
          %input{type: 'text',
                 name: 'id_text',
                 value: import.id_text}
      %div
        %label
          Name
          = import_texttype_select('name_type', import.name_type)
          %input{type: 'text',
                 name: 'name_text',
                 value: import.name_text}
      %div
        %label
          Latitude field
          %input{type: 'text',
                 name: 'latitude_field',
                 value: import.latitude_field}
      %div
        %label
          Longitude field
          %input{type: 'text',
                 name: 'longitude_field',
                 value: import.longitude_field}

      %input(type='submit' value='Save')

  .code
    %h2 Web service
    Send node data to a web service that returns enhanced data.
    %form(action="/layers/#{layer.name}/webservice" method='post')
      %label
        URL:
        %input.layer{type: 'text', name: 'url', value: layer.webservice}
      %label Cache for (seconds):
      %input.layer{type: 'text',
                   name: 'update_rate',
                   value: layer.update_rate}
      %input.submitb(type='submit' value='Save')

