%div= original_file_name
%form{name: 'input', action: "/layers/#{layer.name}/upload", method: 'post'}
  %input(type='hidden' name='uploaded_file_path' value=uploaded_file_path)
  %input(type='hidden' name='original_file_name' value=original_file_name)
  %div
    %label
      ID field
      = id_select
  %div
    %label
      Name field
      = name_select
  %div
    %label
      Latitude/Y field
      = y_select
  %div
    %label
      Longitude/X field
      = x_select
  %div
    %label
      SRID
      %input(type='text' name='srid')
  %input(type='submit' name='import' value='Import')

